services:
  - type: web
    name: dentalcare-backend
    env: java
    env: docker
    rootDir: backend
    dockerfilePath: ./Dockerfile
    envVars:
    - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DATABASE_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
      - key: EMAIL_VERIFICATION_API_KEY
        sync: false
      - key: EMAIL_USERNAME
        sync: false
      - key: EMAIL_PASSWORD
        sync: false